@{
    ViewBag.Title = "Web And Worker";
}

<div class="jumbotron">
    <h1>Widget maker</h1>
    <p class="lead">Making widgets with my worker.</p>
    <p>@Html.ActionLink("Make a widget", "MakeWidget", null, new { @class = "btn btn-primary btn-lg" })</p>
    <p>@Html.ActionLink("Schedule a widget", "ScheduleWidget", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>